<html>

<head>

  <link rel="stylesheet" type="text/css" href="utility.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

  <script src="materilize-pagination.js"></script>



  <script src="utility.js"></script>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="images/elan-logo.png"  height="50" width="140" /></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/home"> <i class="fa fa-home fa-fw"></i>&nbsp; Dashboard</a></li>
          <li><a href="/vendors"> <i class="fa fa-user" aria-hidden="true"></i>&nbsp; Vendors</a></li>
          <li><a href="/expenses"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp; Expenses</a></li>
          <li><a href="/bills"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;Bills</a></li>
          <li><a href="/sales"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;Sales</a></li>
          <li><a href="/contact"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Contact us</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <body>

    <div class="progress">
     <div class="indeterminate"></div>
 </div>
